body{
    background-color: #F7F7F7 !important;
}
.response{
    background-color: white !important;
    margin:20vh 5vw !important;
    padding:5vh 5vw;
    border-radius: 10px;
}

.resultsDiv{
    text-align: left;
    max-height: 10vh;
}
.image{
    height: 300px !important;;
    width:300px !important;
    padding:0 !important;
    border-radius: 10px;
}