body{
    
}


#page{
    margin:20vh 10vw;
    min-height: 60vh;
}

.bookings{
    border-radius: 10px;
    min-height: 60vh;
    box-shadow: -1px 1px 4px 4px rgba(0,0,0,0.05);
}

.image{
    height: 300px !important;;
    padding:0 !important;
    border-radius: 10px;
}