body{
    background-color: #F7F7F7 !important;
}


#page{
    
    margin:20vh 10vw;
    height: 200vh;
    background-color: white;
    border-radius: 3px;
    box-shadow: -1px 1px 4px 4px rgba(0,0,0,0.05);
    padding: 10vh 1vw;
}