body{
    background-color: #F7F7F7 !important;
}


#page{
    
    margin:20vh 10vw;
    min-height: 65vh;
    background-color: white;
    border-radius: 3px;
    box-shadow: -1px 1px 4px 4px rgba(0,0,0,0.05);
    padding: 10vh 5vw;
}

.row{
    margin-top: 5vh !important;
}
p{
    margin: 0 !important;
    margin-top: 1vh !important;
}
i{
    color: grey;
}


#page .btn-login {
    background-color: #ff385c !important;
    outline-color: #ff385c !important;
    outline: none !important; 
    color: white !important;

}
#page .btn-login:hover{
    background-color: #ff5f7c !important;
}
#page .form-group{
    padding: 1vh 5vw;
    text-align:center;
}